.messageBox {
    width: 750px;
    height: 350px;
    border: 2px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
}

.messageInput {
    width: 650px;
    padding: 5px
}

.messageSendButton {
    width: 100px;
    padding: 5px
}

.message {
    padding: 3px;
}

.sentMedia {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.loader {
    display: block;
    border: 4px solid rgb(228, 228, 228);
    border-top: 4px solid rgb(14, 14, 14);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}