.homeDiv input {
    padding: 5px;
    margin-top: 5px;
}

.error {
    color: red;
}

.chatButton {
    padding: 5px;
    margin-top: 5px;
}

.htmlChats {
    border: solid 2px black;
    width: 250px;
    padding: 5px
}

.chat {
    border: solid 0.5px black;
    padding: 5px
}