<html>

<head>
    <title>Centri - Not Found</title>
    <link rel="icon" type="image/x-icon" href="images/logos/Centri-Light.ico">
    <link rel="stylesheet" href="style/404.css">
</head>

<script src="script/404.js"></script>

<body onload="load404()">
    <center>
        <br>
        <span class="mainHead">Looked it up, <b><%- page %></b> was not found. </span>
        <br><br> 
        <span class="bottomText"><b>Error 404</b>: Not Found</span>
        <br><br>
        <a href="/home" class="homeA">Home?</a>
        <br><br>
        <img src="" id="hand-raiseImage">
    </center>
</body>

</html>