<html>

<head>
    <title>Centri - Chat</title>
    <link rel="icon" type="image/x-icon" href="../images/logos/Centri-Light.ico">
    <link rel="stylesheet" href="style/chat.css">
</head>

<script src="script/chat.js"></script>

<body>
    <span>Hello from Centri!</span>
    <br>
</body>

</html>