<html>

<head>
    <title>Centri - Home</title>
    <link rel="stylesheet" href="style/home.css">
</head>

<script src="script/home.js"></script>

<body>
    <span>Hello from Centri!</span>
    <br>
    <div class="homeDiv">
        <input type="button" value="Sign Out" id="signinButton" onclick="signOut()">
    </div>
    <br>
    <span class="error" id="error">
</body>

</html>