<html>

<head>
    <title>Centri - Home</title>
    <link rel="icon" type="image/x-icon" href="images/logos/Centri-Light.ico">
    <link rel="stylesheet" href="style/home.css">
</head>

<script src="script/home.js"></script>

<body onload="loadData()">
    <span>Hello from Centri!</span>
    <br>
    <div class="homeDiv">
        <input type="button" value="Sign Out" id="signinButton" onclick="signOut()">
        <br>
        <input type="text" placeholder="username hash to dm" id="dmUsername">
        <input type="button" value="Create DM" id="createDMButton" onclick="createDM()">
    </div>
    <br>
    <span class="error" id="error"></span>
    <br>
    <span class="serverData" id="serverData"><%- serverData %></span>
</body>

</html>