<html>

<head>
    <title>Centri</title>
    <link rel="icon" type="image/x-icon" href="/images/logos/Centri-Light.ico">
    <link rel="stylesheet" href="style/index.css">
</head>

<script src="script/index.js"></script>

<body>
    <span>Hello from Centri!</span>
    <br>
    <span><a href="/signup">Sign Up</a></span>
    <br>
    <span><a href="/signin">Sign In</a></span>
</body>

</html>