<html>

<head>
    <title>Centri - Sign In</title>
    <link rel="stylesheet" href="style/signin.css">
</head>

<script src="script/signin.js"></script>

<body>
    <span>Hello from Centri!</span>
    <br>
    <div class="signinDiv">
        <input type="text" placeholder="username" id="username">
        <br>
        <input type="password" placeholder="password" id="password">
        <br>
        <input type="button" value="Sign In" id="signinButton" onclick="signinUser()">
    </div>
    <br>
    <span class="error" id="error"></span>
</body>

</html>